.header {
    position: absolute;
    z-index: 99;
    inset: 0 0 auto;
    padding: 20px 0;
    color: var(--white);
}

.headerHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}